<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>email</th>
    <th>date added</th>
    <th>valid</th>
  </tr>
  {% for email in emails %}
  <tr>
    <td>{{ email['email'] }}</td>
    <td>{{ email['dateadded'] }}</td>
    <td>{{ email['valid'] }}</td>
  </tr>
  {% endfor %}
</table>

</body>
</html>
